
@model eprojectinstruct.Models.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    @using (Html.BeginForm("Create", "Product", FormMethod.Post))
    {
        <div class="form-group mx-sm-3 mb-2">
            <label>Product name</label>
            <div>@Html.TextBoxFor(x => x.Name, new { @class = "form-control"})</div>
        </div>
        <div>
            <input class="btn btn-primary mb-2" type="submit" value="Submit" />
        </div>
    }
</div>